/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*  Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* Set Variables */
:root{
    --main-color: #F9643E;
    --secondary: #FFA239;
    --btn-blue: #464D9D;
    --background: #EBEFF2;
    --text-color: #444;
    --light-color: #FDFEFE;
    --gradient: linear-gradient(to top right, var(--main-color), var(--secondary));

    /* Customize  Scrollbar for firefox*/
    scrollbar-color: var(--main-color) var(--light-color);
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
}

::selection{
    background-color: var(--main-color);
    color: #fff;
}

 /* Customize  Scrollbar for Chrome*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--light-color);
}  
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, var(--main-color), var(--secondary));
    border-radius: 20px;
}

  
/* Header */
.header{
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header__logo{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--background);
}
.header__logo span{
    padding: 3px 10px;
    background-image: var(--gradient);
    color: #fff;
    border-radius: 0 12px 0 12px;
}

.header__menus{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header__links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header__links li{
    position: relative;
    padding-bottom: 4px;
}
.header__links li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: var(--gradient);
    transform: scale(0);
    transition: .5s;
}
.header__links li:hover::before{
    transform: scale(1);
}

.header__links a{
    color: var(--text-color);
    font-weight: 500;
}

.header__sign-btns{
    display: flex;
    gap: 1rem;
}
.header__sign-btns a{
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 4px;
    font-size: .9rem;
    transition: .5s;
}
.header__sign-up{
    color: var(--text-color);
    background-color: var(--light-color);
}
.header__sign-up:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header__sign-in{
    background-color: var(--btn-blue);
    color: var(--background);
}
.header__sign-in:hover{
    background-image: var(--gradient);
}
.header__toggle{
    display: none;
}

/* Header  Ends*/

section{
    padding: 3rem 100px;
    background-color: var(--background);
}

/* Home */

.home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home__content{
    margin-top: 6rem;
    max-width: 350px;
}
.home__content h3{
    font-size: 3.5rem;
    color: var(--text-color);
}
.home__content h3 span{
    color: var(--main-color);
}
.home__content p{
    font-size: .9rem;
    color: var(--text-color);
    margin: 1.5rem 0;
    line-height: 1.8;
}

.home__content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 240px;
}
.home__content-img div img{
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.home__form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
    background-color: #fff;
    max-width: 70%;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.input-field label{
    font-size: .9rem;
    font-weight: 500;
    color: var(--text-color);
}
.input-field .form__input{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: var(--background);
    flex: 1 1 3rem;
    width: 100%;
}

.home__form .home__form-submit{
    border: none;
    outline: none;
    background-color: var(--btn-blue);
    padding: 10px 30px;
    cursor: pointer;
    color: var(--background);
    font-weight: 600;
    border-radius: 6px;
    transition: .5s;
    flex: 1 1 3rem;
}
.home__form .home__form-submit:hover{
    background-image: var(--gradient);
}

/* Home Ends*/

/* Ride Section */
.ride{
    text-align: center;
}
.ride__header h3{
    margin-top: 3rem;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ride__header h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem auto 1.5rem;
}

.ride__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
}

.ride__card{
    padding: 15px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s;
}
.ride__card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ride__card-icon i{
    padding: 10px 15px;
    font-size: 1.4rem;
    border-radius: 5px;
    color: var(--main-color);
    cursor: pointer;
    transition: .5s;
}
.ride__card-icon i:hover, .fa-calendar-check{
    background-image: var(--gradient);
    color: var(--background) !important;
}

.ride__card-title{
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 1rem 0;
}

.ride__card-text{
    font-size: .9rem;
    line-height: 2;
}

/* Ride Section Ends */

/* Services Section */
    .services__header{
        text-align: center;
        margin: 3rem;
    }
    .services__header h3{
        font-size: 14px;
        font-weight: 500;
        opacity: .8;
        color: var(--text-color);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .services__header h1{
        font-weight: 600;
        font-size: 2rem;
        margin: 1rem auto;
    }

    .services__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, auto));
        gap: 2rem;
    }
    .services__card{
        background-color: #fff;
        border-radius: 12px;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 12px;
    }
    .services__card-img{
        width: 100%;
        height: 200px;
    }
    .services__card-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        transition: .5s;
        user-select: none;
        pointer-events: none;
    }
    .services__card-img img:hover{
        transform: scale(1.05);
    }
    .services__card-year{
        display: inline-block;
        margin: 1rem 0;
        font-size: 12px;
        padding: 3px 15px;
        border-radius: 20px;
        border: 1px solid var(--text-color);
        opacity: .6;
    }
    .services__card-title h3{
        font-weight: 500;
        font-size: 19px;
    }
    .services__card-price p{
        font-size: 1rem;
        color: var(--main-color);
        margin: .5rem 0;
        font-weight: 600;
    }
    .services__card-price p span{
        font-size: 12px;
        color: var(--text-color);
        font-weight: 300;
        opacity: .6;
    }

    .services__card-btn{
        padding: 10px 20px;
        border-radius: 6px;
        background-color: var(--btn-blue);
        text-align: center;
        margin-top: 1.5rem;
        transition: .5s;
    }
    .services__card-btn:hover{
        background-image: var(--gradient);
    }
    .services__card-btn a{
        font-size: 14px;
        color: #fff;
        font-weight: 600;
    }
/* Services Section Ends*/

/* About Section */

.about__header{
    text-align: center;
    margin-top: 3rem;
}
.about__header h3{
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about__header h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem auto 3rem;
}
.about__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.about__img{
    max-width: 550px;
}
.about__img img{
    width: 100%;
    user-select: none;
    pointer-events: none;
}
.about__content-title{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--main-color);
}
.about__content-text{
    margin: 1.2rem 0 2rem;
    font-size: 15px;
    color: var(--text-color);
    text-align: justify;
}

.about__content-btn{
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--btn-blue);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
}
.about__content-btn:hover{
    background-image: var(--gradient);
}

/* About Section Ends */

/* Review Section */
.review{
    padding: 30px;
}
.review__header{
    text-align: center;
    margin-top: 3rem;
}
.review__header h3{
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.review__header h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem auto 3rem;
}

.review__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
}
.review__card{
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}
.review__profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.review__profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.profile__name h3{
    margin: 1rem auto;
}
.profile__rating i{
    color: var(--secondary);
}
.review__content p{
    margin: 2rem 0 1rem;
    font-size: 14px;
    color: var(--text-color);
    opacity: .8;
    line-height: 2;
}

/* Review Section Ends */

/* Mail Section */

.mail{
    background-image: var(--gradient);
    text-align: center;
}
.mail h3{
    font-size: 2rem;
    color: #fff;
}
.mail__input-field{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.mail__input-field input{
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--background);
    padding: 15px 20px;
    width: 500px;
}
.mail__input-field button{
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--btn-blue);
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-left: -8rem;
    transition: .5s;
}
.mail__input-field button:hover{
    background-image: var(--gradient);
}

/* Mail Section Ends */

/* Footer Section */

footer{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.copyright p{
    font-size: 14px;
    color: var(--text-color);
    opacity: .8;
}

.footer__social-icons{
    display: flex;
    gap: 1rem;
}

.footer__social-icons a{
    width: 40px;
    height: 40px;
    color: var(--text-color);
    padding: 15px;
    background-color: var(--light-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.footer__social-icons a i{
    font-size: 1.2rem;
}

.footer__social-icons a:hover{
    background-image: var(--gradient);
    color: #fff;
}

/* Footer Section Ends */

/* Make Responsive */

@media (max-width: 1168px) {
    .home__form{
        max-width: 510px;
    }
    .home__form-submit{
        align-self: flex-end;
    }
}
@media (max-width: 1088px) {
    .home{
        background-image: unset;
        padding-top: 8rem;
    }
    .home__content{
        margin: 4rem auto;
        max-width: 80%;
        text-align: center;
    }
    .home__content-img{
        margin: 0 auto;
    }
    .home__form{
        margin: 0 auto;
    }
}
@media (max-width: 952px) {
    section{
        padding: 2rem 40px;
    }
    .header{
        padding: 15px 40px;
    }
}
@media (max-width: 818px) {
    .home__content h3{
        font-size: 2.4rem;
    }
    .about__container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about__content,
    .about__img{
        margin: 0 auto;
    }
    .about__content-text{
        text-align: center; 
    }
}

@media (max-width: 714px) {
    .home__form{
        margin: 0 auto;
        width: 80%;
    }
    .input-field{
        width: 100%;
    }

}
@media (max-width: 706px) {
    .home__content{
        text-align: center;
        margin: 0 auto;
    }
    footer{
        flex-direction: column;
        row-gap: 2rem;
    }

}
@media (max-width: 592px) {
    .home__content h3{
       font-size: 3.4rem;
    }
    .ride__header h1,
    .services__header h1,
    .about__header h1,
    .review__header h1,
    .mail h3{
        font-size: 1.1rem;
    }
}
@media (max-width: 516px) {
    section{
        padding: 2rem 10px;
    }
    .header{
        padding: 15px 20px;
    }
    .home{
        padding: 6.5rem 25px;
    }
    footer{
        padding: 30px 10px;
    }
    .home__form{
        width: 100%;
    }
}
@media (max-width: 406px) {
    .home__content h3{
        font-size: 2.8rem;
     }
}
/* Media Quries Ends */

/* Resonsive NavBar */

@media (max-width: 1030px) {
    .header__toggle{
        display: initial;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        color: var(--text-color);
    }
    .header__links{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__menus{
        flex-direction: column;
        position: absolute;
        top: -600px;
        left: 0px;
        width: 100%;
        align-items: flex-start;
        padding: 40px 20px 130px;
        background-color: var(--background);
        gap: 2rem;
        transition: .5s;
    }
    .navMenu{
        top: 3.6rem;
    }

    .header__links li:hover::before{
        display: none;
    }
    .header__links{
        width: 100%;
        cursor: pointer;
    }
    .header__links li{
        width: 100%;
        padding: 10px 15px;
        border-left: 3px solid var(--main-color);
    }
    .header__links li a{
        display: block;
        width: 100%;
    }
    .header__links li:hover{
        background-image: var(--gradient);
        border-left: 0;
        border-radius: 6px;
    }

    .header__links li:hover a{
        color: #fff;
    }
}
/* Resonsive NavBar Ends*/